[submodule "admin-client"]
	path = admin-client
	url = http://github.com/prowl/admin-client.git
	branch = production
[submodule "api-docs"]
	path = api-docs
	url = http://github.com/prowl/api-docs.git
	branch = production
[submodule "api-explorer"]
	path = api-explorer
	url = http://github.com/prowl/api-explorer.git
	branch = production
[submodule "api-server"]
	path = api-server
	url = http://github.com/prowl/api-server.git
	branch = production
[submodule "cache-client"]
	path = cache-client
	url = http://github.com/prowl/cache-client.git
	branch = production
[submodule "cache-docs"]
	path = cache-docs
	url = http://github.com/prowl/cache-docs.git
	branch = production
[submodule "cache-server"]
	path = cache-server
	url = http://github.com/prowl/cache-server.git
	branch = production
[submodule "cron-client"]
	path = cron-client
	url = http://github.com/prowl/cron-client.git
	branch = production
[submodule "cron-docs"]
	path = cron-docs
	url = http://github.com/prowl/cron-docs.git
	branch = production
[submodule "cron-server"]
	path = cron-server
	url = http://github.com/prowl/cron-server.git
	branch = production
[submodule "file-client"]
	path = file-client
	url = http://github.com/prowl/file-client.git
	branch = production
[submodule "file-docs"]
	path = file-docs
	url = http://github.com/prowl/file-docs.git
	branch = production
[submodule "file-server"]
	path = file-server
	url = http://github.com/prowl/file-server.git
	branch = production
[submodule "fulfillment-client"]
	path = fulfillment-client
	url = http://github.com/prowl/fulfillment-client.git
	branch = production
[submodule "infrastructure-client"]
	path = infrastructure-client
	url = http://github.com/prowl/infrastructure-client.git
	branch = production
[submodule "infrastructure-docs"]
	path = infrastructure-docs
	url = http://github.com/prowl/infrastructure-docs.git
	branch = production
[submodule "infrastructure-server"]
	path = infrastructure-server
	url = http://github.com/prowl/infrastructure-server.git
	branch = production
[submodule "load-balancer"]
	path = load-balancer
	url = http://github.com/prowl/load-balancer.git
	branch = production
[submodule "load-balancer-client"]
	path = load-balancer-client
	url = http://github.com/prowl/load-balancer-client.git
	branch = production
[submodule "load-balancer-docs"]
	path = load-balancer-docs
	url = http://github.com/prowl/load-balancer-docs.git
	branch = production
[submodule "log-client"]
	path = log-client
	url = http://github.com/prowl/log-client.git
	branch = production
[submodule "log-docs"]
	path = log-docs
	url = http://github.com/prowl/log-docs.git
	branch = production
[submodule "log-server"]
	path = log-server
	url = http://github.com/prowl/log-server.git
	branch = production
[submodule "mail-client"]
	path = mail-client
	url = http://github.com/prowl/mail-client.git
	branch = production
[submodule "mail-docs"]
	path = mail-docs
	url = http://github.com/prowl/mail-docs.git
	branch = production
[submodule "mail-server"]
	path = mail-server
	url = http://github.com/prowl/mail-server.git
	branch = production
[submodule "migration-tool"]
	path = migration-tool
	url = http://github.com/prowl/migration-tool.git
	branch = production
[submodule "monitoring-client"]
	path = monitoring-client
	url = http://github.com/prowl/monitoring-client.git
	branch = production
[submodule "monitoring-docs"]
	path = monitoring-docs
	url = http://github.com/prowl/monitoring-docs.git
	branch = production
[submodule "monitoring-server"]
	path = monitoring-server
	url = http://github.com/prowl/monitoring-server.git
	branch = production
[submodule "notification-client"]
	path = notification-client
	url = http://github.com/prowl/notification-client.git
	branch = production
[submodule "notification-docs"]
	path = notification-docs
	url = http://github.com/prowl/notification-docs.git
	branch = production
[submodule "notification-server"]
	path = notification-server
	url = http://github.com/prowl/notification-server.git
	branch = production
[submodule "payments-client"]
	path = payments-client
	url = http://github.com/prowl/payments-client.git
	branch = production
[submodule "payments-docs"]
	path = payments-docs
	url = http://github.com/prowl/payments-docs.git
	branch = production
[submodule "payments-server"]
	path = payments-server
	url = http://github.com/prowl/payments-server.git
	branch = production
[submodule "private-npm"]
	path = private-npm
	url = http://github.com/prowl/private-npm.git
	branch = production
[submodule "private-npm-client"]
	path = private-npm-client
	url = http://github.com/prowl/private-npm-client.git
	branch = production
[submodule "private-npm-docs"]
	path = private-npm-docs
	url = http://github.com/prowl/private-npm-docs.git
	branch = production
[submodule "queue-client"]
	path = queue-client
	url = http://github.com/prowl/queue-client.git
	branch = production
[submodule "queue-docs"]
	path = queue-docs
	url = http://github.com/prowl/queue-docs.git
	branch = production
[submodule "queue-server"]
	path = queue-server
	url = http://github.com/prowl/queue-server.git
	branch = production
[submodule "resource-client"]
	path = resource-client
	url = http://github.com/prowl/resource-client.git
	branch = production
[submodule "resource-docs"]
	path = resource-docs
	url = http://github.com/prowl/resource-docs.git
	branch = production
[submodule "resource-server"]
	path = resource-server
	url = http://github.com/prowl/resource-server.git
	branch = production
[submodule "scaffold"]
	path = scaffold
	url = http://github.com/prowl/scaffold.git
	branch = production
[submodule "service-discovery"]
	path = service-discovery
	url = http://github.com/prowl/service-discovery.git
	branch = production
[submodule "service-discovery-client"]
	path = service-discovery-client
	url = http://github.com/prowl/service-discovery-client.git
	branch = production
[submodule "service-discovery-docs"]
	path = service-discovery-docs
	url = http://github.com/prowl/service-discovery-docs.git
	branch = production
[submodule "site-scraper"]
	path = site-scraper
	url = http://github.com/prowl/site-scraper.git
	branch = production
[submodule "site-scraper-client"]
	path = site-scraper-client
	url = http://github.com/prowl/site-scraper-client.git
	branch = production
[submodule "site-scraper-docs"]
	path = site-scraper-docs
	url = http://github.com/prowl/site-scraper-docs.git
	branch = production
[submodule "stats-client"]
	path = stats-client
	url = http://github.com/prowl/stats-client.git
	branch = production
[submodule "stats-docs"]
	path = stats-docs
	url = http://github.com/prowl/stats-docs.git
	branch = production
[submodule "stats-server"]
	path = stats-server
	url = http://github.com/prowl/stats-server.git
	branch = production
[submodule "support-client"]
	path = support-client
	url = http://github.com/prowl/support-client.git
	branch = production
[submodule "vagrant"]
	path = vagrant
	url = http://github.com/prowl/vagrant.git
	branch = production
[submodule "worker-client"]
	path = worker-client
	url = http://github.com/prowl/worker-client.git
	branch = production
[submodule "worker-docs"]
	path = worker-docs
	url = http://github.com/prowl/worker-docs.git
	branch = production
[submodule "worker-server"]
	path = worker-server
	url = http://github.com/prowl/worker-server.git
	branch = production
[submodule "modules/gulp-module"]
	path = modules/gulp-module
	url = http://github.com/prowl/gulp-module.git
	branch = master
